@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prose.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: pink;
}

img {
  width: 100%;
  height: auto;
}
