.prose .anchor:after {
  @apply text-gray-300;
  content: '#';
}

.prose .anchor {
  @apply dark:text-gray-300;
}

.prose pre > code {
  display: grid;
}

.prose figure {
  margin-top: 0;
}

.prose code {
  counter-reset: line;
}

.prose code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.prose code span[data-highlighted-line] {
  @apply border-l-2 border-y-0 border-transparent bg-opacity-10 
           border-blue-400 bg-indigo-400 dark:border-blue-500 dark:bg-slate-700
           pl-[calc(0.5rem-2px)] md:pl-[calc(1rem-2px)];
}

.prose div[data-rehype-pretty-code-title] {
  @apply rounded-t-lg border border-b-0 border-black px-5 py-3 text-sm font-bold bg-white relative top-2;
}

.prose h2,
.prose h3,{
  @apply dark:text-white
}
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

.prose :not(pre) > code {
  @apply dark:bg-gray-500 dark:text-white bg-gray-200 border border-gray-200 dark:border-gray-700 text-sm font-normal align-middle py-0.5 px-1 rounded;
}
